@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  outline: none;
  pointer-events: auto !important;
  touch-action: none;
}
